<div class="rodape">
    <div class="coluna-rodape">
      <h4>Descubra seu Detino</h4>
      <ul>
        <li>
          <a href="/busca?cidade=Salvador">Salvador</a>
        </li>
        <li> 
          <a href="/busca?cidade=Porto%20Seguro">Porto Seguro</a>
        </li>
        <li> 
          <a href="/busca?cidade=Ilhéus">Ilheus</a>
        </li>
        <li> 
          <a href="/busca?cidade=Itacaré">Itacaré</a>
        </li>

      </ul>
    </div>
    <div class="coluna-rodape">
      <h4>Contato-nos</h4>
      <p>Cimatec Digital, Praça da Sé, Pelourinho</p>
      <p>(71) 91234-5678</p>
      <p>vamosaonde&#64;gmail.com</p>

      <div class="redes">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
      </div>
    </div>
</div>

  <div class="copyright">
    &copy;Copyright 2025 VamosOnde?
  </div>